@import './variables.scss';

@media screen and (max-width:1440px) {
    header{
        .main-logo{
            width: 220px;
        }

        .navbar-brand{
           
            &::after{
               
                border-width: 250px 250px 0 0;
    
            
        }
    
     
        
        }
        nav a{
            font-size: 18px;
        }
    }

    .hero{
        h1{
            font-size: 50px;
        }
    }
    .peg-title{font-size: 42px;}
    .peg-title-2{font-size: 20px;}

    .peg-width-350{width: 250px;}
    .peg-width-200{width: 150px;}
    
    .peg-font-36{font-size: 22px;}
    
    .peg-font-30{font-size: 20px;}
    
}

@media screen and (max-width:1024px) {
    header{
        .main-logo{width: 220px;}

        .navbar-brand{
           &::after{border-width: 200px 150px 0 0;}
        }
        nav a{font-size: 16px;}
    }

    .hero{
        h1{
            font-size: 40px;
        }
   }

   .peg-title{font-size: 40px;}
   .peg-title-2{font-size: 18px;}

   .peg-width-350{width: 200px;}
   .peg-width-200{width: 100px;}

   .peg-height-250{height: 180px;}



    .peg-font-36{font-size: 20px;}
    .peg-font-30{font-size: 16px;}
    
}


@media screen and (max-width:768px) {
    header{
        .main-logo{width: 200px;}

        .navbar-brand{
           &::after{border-width: 200px 150px 0 0;}
        }
        nav a{font-size: 14px;}
    }

    
    .hero{
        h1{
            font-size: 40px;
        }
   }

   .peg-title{
    font-size: 30px;
    
    }
   .peg-width-350{
    width: 150px;
    }

    .peg-font-36{
        font-size: 16px;
    }
    
}



@media screen and (max-width:576px) {
    header{
        .main-logo{width: 100px;}

        .navbar-brand{
           &::after{border-width: 100px 100px 0 0;}
        }
        nav a{font-size: 14px;}
    }

    .peg-width-200{width: 75px;}

    .peg-title-2{font-size: 16px;}

    .peg-font-30{font-size: 14px;}



    
}

